{% extends 'base.html.twig' %}

{% block title %}Fiche utilisateur{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="row justify-content-center">
            {% for user in users %}
                <div class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <div class="d-flex justify-content-end">
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Voir détail">
                                <a href="{{ path('app_user_show', {'id': user.id}) }}"><img src="{{ asset('images/eye.svg') }}" height="20" width="20"></a>
                            </span>
                            {% if app.user is not null and is_granted('ROLE_RH') %}
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Mise à jour">
                                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><img src="{{ asset('images/pencil-fill.svg') }}" height="20" width="20"></a>
                                </span>
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Supprimer">
                                    <a href="{{ path('app_user_delete', {'id': user.id}) }}"><img src="{{ asset('images/trash3.svg') }}" height="20" width="20"></a>
                                </span>
                            {% endif %}
                        </div>
                        <div class="text-center mt-2"> <!-- Center the image -->
                            {% if user.picture %}
                                <img class="img-fluid" src="{{ asset('uploads/user/' ~ user.picture) }}" alt="affiche {{ user.name }}" style="max-height: 200px; width: auto;">
                            {% else %}
                                <img class="img-fluid" src="{{ asset('uploads/user/No-image.png') }}" alt="Image par défaut" style="max-height: 200px; width: auto;">
                            {% endif %}
                        </div>
                        <h5 class="card-title mt-3 mb-3">Nom: {{ user.name }} {{ user.firstName }}</h5>
                        <p class="card-text">Email: {{ user.email }}</p>
                        <p class="card-text">Contrat: {{ user.contractType }}</p>
                        {% if user.exitDate %}
                            <p class="card-text">Date de départ: {{ user.exitDate ? user.exitDate|date('d/m/Y') : '' }}</p>
                        {% else %}
                            <p class="card-text">Date de départ: Indéterminé</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if app.user is not null and is_granted('ROLE_RH') %}
        <div class="container mt-3">
            <a class="btn btn-primary" href="{{ path('app_user_new') }}">Ajouter un salarié</a>
        </div>
    {% endif %}

    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
{% endblock %}
